<div style="margin-top: 20px">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Artworks</h2>
    </div>
    <ul class="timeline">
      <li>
        <a href="../../assets/img/1.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/img1.jpeg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Starry Night</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              The Starry Night is an oil-on-canvas painting by the Dutch
              Post-Impressionist painter Vincent van Gogh painted in June 1889.
              It depicts the view from the east-facing window of his asylum room
              at Saint-Rémy-de-Provence, just before sunrise, with the addition
              of an imaginary village.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/img2.jpeg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/img2.jpeg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>The Kiss</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              The Kiss is an oil-on-canvas painting with added gold leaf, silver
              and platinum by the Austrian Symbolist painter Gustav Klimt. It
              was painted at some point in 1907 and 1908, during the height of
              what scholars call his "Golden Period".
            </p>
          </div>
        </div>
      </li>
      <li>
        <a href="../../assets/img/img3.jpeg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/img3.jpeg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Irises</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Irises is one of several paintings of irises by the Dutch artist
              Vincent van Gogh, and one of a series of paintings he made at the
              Saint Paul-de-Mausole asylum in Saint-Rémy-de-Provence, France, in
              the last year before his death in 1890.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/img4.jpeg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/img4.jpeg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>The Two Fridas</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              The Two Fridas is an oil painting by Mexican artist Frida Kahlo.
              The painting was the first large-scale work done by Kahlo and is
              considered one of her most notable paintings. It is a double
              self-portrait, depicting two versions of Kahlo seated together
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image" style="background-color: #3c73b2;">
          <h4>
            Be Part
            <br />
            Of Our
            <br />
            Art !
          </h4>
        </div>
      </li>
    </ul>
  </div>
</div>
