<body>
  <mat-card>
    <b><span>Dashboard</span></b>
  </mat-card>

  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Total Category:</h2>
          <h1 class="title">{{ data?.category }}</h1>
          <p>
            <button
              class="button"
              [routerLink]="['/artgallery/category']"
            >View Category</button>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <div class="container">
            <h2 class="title">Total Artworks:</h2>
            <h1 class="title">{{ data?.artwork }}</h1>
            <p>
              <button
                class="button"
                [routerLink]="['/artgallery/artwork']"
              >View Artwork</button>
            </p>
          </div>
        </div>
      </div>


  </div>
</body>
